
@media screen and (max-width: 760px) {
    header {
        flex-direction: column;
        align-self: center;
        align-items: center;
        text-align: center;
    }

    main {
        flex-direction: column;
        padding-bottom: 60px; 
    }

    aside {
        flex-direction: column;
        padding-left: 15px;
    }

    h2 {
        font-size: 38px;
        flex-direction: column;
        
    }

    form {
        margin: 0 auto;
        width: 100%;
    }

    input {
        align-self: center;
    }

    img {
        display: none;
    }

    ul {
        text-align: center;
    }

    footer {
        flex-direction: column;
        position: relative; 
        width: 100%; 
        padding: 10px 0; 
        background-color: rgb(132,14,201);; 
        color: white;
        text-align: center; 
    }
}
